*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    background-color: green;
    height: 15vh;
}
#icon {
    display: none;
}
a {
    text-decoration: none;
    color: white;
    align-self: center;
    margin-left: 40px;
    font-size: 2rem;
}
.ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

}
ul li {
    margin-right: 10px;
}
ul li a {
    font-size: 2rem;
}
.hero {
    grid-column: 1/-1;
    grid-row: 2/3;
}
.hero-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    bottom: 6rem;
}
.hero-con .a1 {
    align-self: flex-start;
}
.hero-con .a2 {
    align-self: flex-start;
}
.h-img1 {
    width: 40rem;
    height: 40vh;
}
.h-img2 {
    width: 40rem;
    height: 40vh;
}

@media only screen and (max-width: 1344px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    
    }
    ul li {
        margin-right: 10px;
    }
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        position: relative;
        bottom: 4rem;
    }
    .hero-con .a1 {
        align-self: flex-start;
    }
    .hero-con .a2 {
        align-self: flex-start;
    }
    .h-img1 {
        width: 35rem;
        height: 34vh;
    }
    .h-img2 {
        width: 35rem;
        height: 34vh;
    }
    
  }
  @media only screen and (max-width: 1224px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    
    }
    ul li {
        margin-right: 10px;
    }
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        position: relative;
        bottom: 4rem;
    }
    .hero-con .a1 {
        align-self: flex-start;
    }
    .hero-con .a2 {
        align-self: flex-start;
    }
    .h-img1 {
        width: 30rem;
        height: 34vh;
    }
    .h-img2 {
        width: 30rem;
        height: 34vh;
    }
    
  }
  @media only screen and (max-width: 1090px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    #icon {
        display: block;
        justify-self: end;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 30px;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: none;
    }
    
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        bottom: 24rem;
        grid-gap: 40px;

    }
    .hero-con .a1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        

    }
    .hero-con .a2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .h-img1 {
        width: 50rem;
        height: 40vh;
    }
    .h-img2 {
        width: 50rem;
        height: 40vh;
    }
    
  }

  @media only screen and (max-width: 996px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    #icon {
        display: block;
        justify-self: end;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 30px;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: none;
    }
    
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        bottom: 24rem;
        grid-gap: 40px;

    }
    .hero-con .a1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        

    }
    .hero-con .a2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .h-img1 {
        width: 40rem;
        height: 40vh;
    }
    .h-img2 {
        width: 40rem;
        height: 40vh;
    }
    
  }
  @media only screen and (max-width: 790px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    #icon {
        display: block;
        justify-self: end;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 30px;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: none;
    }
    
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        bottom: 24rem;
        grid-gap: 40px;

    }
    .hero-con .a1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        

    }
    .hero-con .a2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .h-img1 {
        width: 20rem;
        height: 40vh;
    }
    .h-img2 {
        width: 20rem;
        height: 40vh;
    }
    
  }

  @media only screen and (max-width: 557px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    #icon {
        display: block;
        justify-self: end;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 30px;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: none;
    }
    
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        bottom: 24rem;
        grid-gap: 40px;

    }
    .hero-con .a1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        

    }
    .hero-con .a2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .h-img1 {
        width: 16rem;
        height: 40vh;
    }
    .h-img2 {
        width: 16rem;
        height: 40vh;
    }
    
  }

  @media only screen and (max-width: 557px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column: 1/-1;
        background-color: green;
        height: 13vh;
    }
    #icon {
        display: block;
        justify-self: end;
        align-self: center;
        font-size: 1.5rem;
        margin-right: 30px;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
        align-self: center;
        margin-left: 40px;
        font-size: 1.5rem;
    }
    .ul {
        display: none;
    }
    
    ul li a {
        font-size: 1.5rem;
    }
    .hero {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .hero-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        bottom: 24rem;
        grid-gap: 40px;

    }
    .hero-con .a1 {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
        

    }
    .hero-con .a2 {
        grid-column: 1/-1;
        grid-row: 2/3;
        justify-self: center;
    }
    .h-img1 {
        width: 14rem;
        height: 40vh;
    }
    .h-img2 {
        width: 14rem;
        height: 40vh;
    }
    
  }











